* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .filter-item {
    display: flex;
    align-items: center;
    margin-right: 0;
  }

  .job-card {
    width: calc(33.33% - 20px);
    margin-top: 4rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  }

  .jobrole {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
  }
  
  .joblocation {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .salary {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  
  .about {
    font-size: 16px;
    font-weight:lighter;
    margin-bottom: 0.1rem;
  }
  
  .aboutus {
    font-size: 1rem;
    margin-bottom: 0.1rem;
    font-weight: bold;
  }
  
  .jobdetails {
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
  }
  
  .fromcompany {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .exp {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .morejob a {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }
  

.apply{
  background-color: rgb(45, 202, 160);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 1rem;
}
.viewJob{
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: 4rem;
  align-items: center;
  background: linear-gradient(to top, rgba(255, 255, 255, 1)15%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
}